.button {
  text-align: center;
  background-color: $basic-white;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: $basic-dark;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: $basic-hover;
  }

  &:focus {
    background-color: $lighter-white;
    box-shadow: 0 0 0 2px $basic-hover;
  }
}
