.description {
  padding: 120px 0;

  @media (max-width: $tablet-width) {
    padding: 92px 0;
  }

  @media (max-width: $mobile-width) {
    padding: 57px 0 65px;
  }
}

.description__wrapper {
  display: grid;
  gap: 5.6%;
  align-items: center;
  grid-template-columns: 1fr min-content;
  max-width: calc(900px + (1160 - 900) * ((100vw - 1024px) / (1366 - 1024)));

  @media (max-width: $tablet-width) {
    gap: 30px;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 33px;
    max-width: calc(100% - 30px);
  }
}

.description__text {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;

  @media (max-width: $tablet-width) {
    gap: 15px;
  }
}

.description__text h2 {
  margin: 0;
  font-size: calc(26px + (28 - 26) * ((100vw - 1024px) / (1366 - 1024)));
  font-weight: 600;
  line-height: 42px;

  @media (max-width: $tablet-width) {
    font-size: 26px;
    line-height: 36px;
  }

  @media (max-width: $mobile-width) {
    font-size: 24px;
    line-height: 34px;
  }
}

.description__text p {
  margin: 0;
  font-size: calc(14px + (16 - 14) * ((100vw - 1024px) / (1366 - 1024)));
  line-height: 24px;

  @media (max-width: $tablet-width) {
    font-size: 16px;
  }
}

.description__photo {
  grid-column: 2 / -1;
  width: calc(420px + (560 - 420) * ((100vw - 1024px) / (1366 - 1024)));
  padding-top: 53.75%;
  background: $basic-dark url("../img/description-photo.png") no-repeat;
  background-size: cover;
  object-fit: cover;

  @media (min-width: $desktop-only) {
    @media (min-resolution: 2dppx) {
      background-image: url("../img/description-photo@2x.png");
    }
  }

  @media (max-width: $tablet-width) {
    padding-top: 0;
    width: 324px;
    height: 264px;
    background: $basic-dark url("../img/description-photo-tablet.png") no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/description-photo-tablet@2x.png");
    }
  }

  @media (max-width: $mobile-width) {
    width: calc(290px + (737 - 290) * ((100vw - 320px) / (767 - 320)));
    height: calc(186px + (472 - 186) * ((100vw - 320px) / (767 - 320)));
    background: $basic-dark url("../img/description-photo-mobile.png") no-repeat;
    background-size: 100% 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/description-photo-mobile@2x.png");
    }
  }
}
