$basic-white: #f9fbfd;
$basic-dark: #011c40;
$lighter-white: #d8d8d9;
$background-map: #ffffe0;
$basic-hover: #d2cb7f;
$basic-active: #cca817;
$mask-body: rgba(0, 43, 102, 0.5);

$desktop-only: 1366px;
$tablet-width: 1365px;
$mobile-width: 767px;
